<div class="input-container">
  <form>
    <label>Title:</label>
    <input type="text" [(ngModel)]="title" name="title"><br>
    
    <label>Author:</label>
    <input type="text" [(ngModel)]="author" name="author"><br>
    
    <label>Genre:</label>
    <input type="text" [(ngModel)]="genre" name="genre"><br>
    
    <label>Status:</label>
    <select [(ngModel)]="status" name="status">
      <option value="Read">Read</option>
      <option value="Currently-Reading">Currently-Reading</option>
      <option value="To-read">To-read</option>
    </select><br>

    <label>Rating:</label>
    <option type="number" [(ngModel)]="rating" name="rating" min="1" max="5">option>
  </form>
</div> 

<div class="button-container">
  <button (click)="addBook()">Add Book</button>
  <button (click)="deleteBook()">Delete Book</button>
</div> 

<div class="header">
  <h2>Your Books</h2>
</div> 

<div>
  <ul>
    <li *ngFor="let book of books" class="book-item">
      <div class="book-font">{{ book.title }} by {{ book.author }}</div>
    </li>
  </ul>
</div>