<h2>My Books</h2>

<div class="input-container">
    <form>
      <label>Title:</label>
      <input type="text" [(ngModel)]="title" name="title"><br>
      
      <label>Author:</label>
      <input type="text" [(ngModel)]="author" name="author"><br>
      
      <label>Status:</label>
      <select [(ngModel)]="status" name="status">
        <option value="Read">Read</option>
        <option value="Currently-Reading">Currently-Reading</option>
        <option value="To-read">To-read</option>
      </select><br>
  
      <label>Rating:</label>
      <select [(ngModel)]="rating" name="rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
      </select><br>      
    </form>
</div> 

<div class="button-container">
  <button (click)="addBook()">Add Book</button>
  <button (click)="deleteBook()">Delete Book</button>
</div> 

<div>
    <ul>
      <li *ngFor="let book of books" class="book-item">
        <button [class.selected]="book === selectedBook" type="button" (click)="onSelect(book)"></button>
        <div class="book-font">{{ book.title }} by {{ book.author }}</div>
      </li>
    </ul>
</div>

<app-book-detail [book]="selectedBook"></app-book-detail>
