/* You can add global styles to this file, and also import other style files */

h1 {
    color: rgba(0, 0, 0, 0.789);
    font-family: Verdana, Geneva, sans-serif;
    font-size: 250%;
  }
h2, h3 {
    color: #444;
    font-family: Calibri, Candara, Segoe, sans-serif;
    font-weight: lighter;
}